<launch>
  <arg name="DEV" default="/dev/input/js0" />
  <node pkg="joy" type="joy_node" name="joy">
    <param name="dev" value="$(arg DEV)" />
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="40" />
    <param name="coalesce_interval" value="0.025" />
  </node>
  <node pkg="moveit_ros_visualization"
        type="moveit_joy.py"
        output="screen"
        name="moveit_joy">
  </node>
</launch>
