# This config file for Travis CI utilizes https://github.com/ros-planning/moveit_ci/ package.
os: linux
dist: bionic  # distro used by Travis, moveit_ci uses the docker image's distro
services:
  - docker
language: cpp
cache: ccache
compiler: gcc

notifications:
  email: true

env:
  global:
    - MOVEIT_CI_TRAVIS_TIMEOUT=125  # Some limit for execution time
    - ROS_DISTRO=noetic
    - ROS_REPO=ros-testing
    - UPSTREAM_WORKSPACE=moveit.rosinstall
    - CXXFLAGS="-Wall -Wextra -Wwrite-strings -Wunreachable-code -Wpointer-arith -Wredundant-decls"
    - WARNINGS_OK=false

jobs:
  fast_finish: true
  include:
    - env: TEST="clang-format catkin_lint"
    - env: TEST=code-coverage
    - env: ROS_DISTRO=noetic ROS_REPO=ros-testing
    - env: ROS_DISTRO=melodic BEFORE_DOCKER_SCRIPT="source moveit_kinematics/test/test_ikfast_plugins.sh"
    - compiler: clang
      # test_ikfast_plugins takes ~10 minutes: include here to keep the main jobs shorter
      env: TEST=clang-tidy-fix
           BEFORE_DOCKER_SCRIPT="source moveit_kinematics/test/test_ikfast_plugins.sh"
           CXXFLAGS="-Wall -Wextra -Wwrite-strings -Wunreachable-code -Wpointer-arith -Wredundant-decls -Wno-overloaded-virtual"
    - if: branch =~ /^(.*-devel|master)$/
      env: ROS_REPO=ros-shadow-fixed
  allow_failures:
    - env: TEST=code-coverage

before_script:
  - if [ -n "$DOCKER_USERNAME" ] ; then docker login -u "$DOCKER_USERNAME" --password ; else echo "Docker Hub credentials unavailable, pulling anonymously" ; fi
  - git clone -q --depth=1 https://github.com/ros-planning/moveit_ci.git .moveit_ci

script:
  - .moveit_ci/travis.sh
