<launch>
  <!-- Launch an example that sends commands via C++ API. -->

  <arg name="config" default="$(find moveit_servo)/config/ur_simulated_config.yaml"/>

  <node name="servo_server" pkg="moveit_servo" type="pose_tracking_example" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <rosparam command="load" file="$(find moveit_servo)/config/pose_tracking_settings.yaml" />
  </node>

</launch>
