<launch>
  <!-- This file launches moveit_servo to control a panda in rviz with a spacenav.
  -->

  <!-- Load URDF, SRDF -->
  <include file="$(find moveit_resources_panda_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Initial joint positions -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam command="load" file="$(find moveit_servo)/test/config/initial_position.yaml" />
    <param name="publish_frequency" type="double" value="50.0"/>
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="tool_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
  </node>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find panda_moveit_config)/launch/moveit.rviz">
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml"/>
  </node>

  <node name="spacenav_node" pkg="spacenav_node" type="spacenav_node" />

  <node name="spacenav_to_twist" pkg="moveit_servo" type="spacenav_to_twist" output="screen" />

  <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
    <param name="parameter_ns" type="string" value="servo_parameter_ns" />
    <param name="provide_planning_scene_service" type="bool" value="true" />
    <rosparam ns="servo_parameter_ns" command="load" file="$(find moveit_servo)/config/panda_simulated_config.yaml" />
  </node>

</launch>
