<launch>
  <!-- The package has 2 examples of converting joystick commands to servo commands.
       This is the higher-latency, Python-based teleop_tools example.
       You can modify it in your own package for your own type of gamepad or joystick.
       We do plan to accept pull requests of config files for other controller types using this method.
  -->

  <arg name="config" default="$(find moveit_servo)/config/ur_simulated_config.yaml"/>

  <!-- This node publishes commands from the controller -->
  <node name="spacenav_node" pkg="spacenav_node" type="spacenav_node" />

  <!-- This node does the servoing calculations -->
  <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
    <rosparam command="load" file="$(arg config)"/>
  </node>

  <!-- teleop_tools translates a joystick command into a twist message -->
  <arg name="cmd_vel" default="spacenav/joy" />
  <arg name="teleop_config" default="$(find moveit_servo)/config/spacenav_via_teleop_tools.yaml" />
  <rosparam file="$(arg teleop_config)" command="load" />

  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
    <remap from="cmd_vel" to="$(arg cmd_vel)" />
    <remap from="joy" to="spacenav/joy" />
  </node>

</launch>
