<launch>
  <!-- The package has 2 examples of converting joystick commands to servo commands.
       This is the lower-latency C++ example. You can modify it in your own package for
       your own type of gamepad or joystick.
       It reduces latency (slightly) compared to spacenav_teleop_tools.launch.
       We don't plan to accept pull requests for other controller types using this method,
       because it would be too much to maintain.
       But, we do plan to accept teleop_tools config files (see spacenav_teleop_tools.launch)
  -->

  <arg name="config" default="$(find moveit_servo)/config/ur_simulated_config.yaml"/>

  <node name="spacenav_node" pkg="spacenav_node" type="spacenav_node" />

  <node name="spacenav_to_twist" pkg="moveit_servo" type="spacenav_to_twist" output="screen" />

  <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
    <rosparam command="load" file="$(arg config)"/>
  </node>

</launch>
