<?xml version="1.0"?>
<launch>

  <!-- GDB Debug Arguments -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
           value="gdb -x $(find moveit_planners_trajopt)/launch/gdb_settings.gdb --ex run --args" />

  <!-- Callgrind Arguments -->
  <arg name="callgrind" default="false" />
  <arg unless="$(arg callgrind)" name="launch_prefix2" value="" />
  <arg     if="$(arg callgrind)" name="launch_prefix2" value="valgrind --tool=callgrind --collect-atstart=no" />

  <!-- Valgrind Arguments -->
  <arg name="valgrind" default="false" />
  <arg unless="$(arg valgrind)" name="launch_prefix3" value="" />
  <arg     if="$(arg valgrind)" name="launch_prefix3" value="valgrind --tool=memcheck --leak-check=full --show-leak-kinds=all" />

  <!-- Run Panda launch -->
  <include file="$(find panda_moveit_config)/launch/demo.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="planner" value="trajopt"/>
  </include>

  <!-- Launch main node -->
  <node name="$(anon moveit_planners_trajopt)" launch-prefix="$(arg launch_prefix) $(arg launch_prefix2) $(arg launch_prefix3)" pkg="moveit_planners_trajopt" type="test_trajopt" respawn="false" output="screen">

    <!-- Robot-specific settings -->
    <rosparam file="$(find moveit_planners_trajopt)/config/setup.yaml" command="load"/>
  </node>

</launch>
