<?xml version="1.0"?>
<launch>
  <arg name="debug" value="false" />


  <!-- Load URDF, SRDF -->
  <include file="$(find moveit_resources)/panda_moveit_config/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="tool_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
  </node>

  <group ns="jog_server" if="$(arg debug)">
    <rosparam command="load" file="$(find moveit_jog_arm)/test/config/jog_settings.yaml"/>
  </group>

  <group unless="$(arg debug)">
    <node name="jog_server" pkg="moveit_jog_arm" type="jog_server" output="screen">
      <param name="parameter_ns" type="string" value="jog_server"/>
      <rosparam command="load" file="$(find moveit_jog_arm)/test/config/jog_settings.yaml"/>
    </node>
  </group>

</launch>
