#!/usr/bin/env python
PACKAGE = "moveit_ros_planning"
import roslib;roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *
gen = ParameterGenerator()

gen.add("publish_planning_scene", bool_t, 1, "Set to True to publish Planning Scenes", False)
gen.add("publish_planning_scene_hz", double_t, 2, "Set the maximum frequency at which planning scene updates are published", 4, 0.1, 100.0)

exit(gen.generate(PACKAGE, PACKAGE, "PlanningSceneMonitorDynamicReconfigure"))
