<launch>
  <param name="robot_description" textfile="$(find planning_models)/test/urdf/robot.xml" />
  <param name="robot_description_semantic" textfile="$(find planning_models)/test/srdf/robot.xml" />

  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />
  <node pkg="moveit_visualization_ros" name="wall_clock_server" type="fake_time.py" />

  <node pkg="moveit_visualization_ros" type="interactive_distance_field" name="interactive_distance_field" output="screen" />

</launch>
