<?xml version="1.0"?>
<launch>

  <!-- Gazebo specific options -->
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>

  <!-- Specify the planning pipeline -->
  <arg name="pipeline" default="ompl"/>

  <!-- Launch the Gazebo simulator and spawn the robot -->
  <include file="$(dirname)/gazebo.launch" pass_all_args="true" >
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- Launch MoveIt -->
  <include file="$(dirname)/demo.launch" pass_all_args="true">
    <arg name="pipeline" value="$(arg pipeline)"/>
    <!-- robot_description is loaded by gazebo.launch, to enable Gazebo features -->
    <arg name="load_robot_description" value="false" />
    <arg name="moveit_controller_manager" value="ros_control" />
  </include>

</launch>
