<!-- Visualize OMPL planners in Rviz -->
<launch>

  <!-- External launch files -->
  <include file="$(find pr2_moveit_config2)/launch/planning_context.launch" />
  <include file="$(find pr2_moveit_config2)/launch/ompl_planner.launch" />

  <!-- Launch visualizer -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pr2_moveit_config2)/launch/test_ompl_rviz.vcg" />

</launch>
