<launch>

  <include file="$(find [GENERATED_PACKAGE_NAME])/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  [VIRTUAL_JOINT_BROADCASTER]

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <include file="$(find [GENERATED_PACKAGE_NAME])/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="false"/>
  </include>

  <include file="$(find [GENERATED_PACKAGE_NAME])/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>
