<launch>
  <node 
	pkg="moveit_setup_assistant" type="setup_assistant" name="moveit_setup_assistant" 
	args="--urdf=/u/dcoleman/ros/moveit/moveit_pr2/pr2_moveit_config/config/pr2.urdf
	      --srdf=/u/dcoleman/ros/moveit/moveit_pr2/tests/pr2_jacobian_tests/pr2.srdf
	      --config_pkg=/wg/stor1a/dcoleman/ros/pr2_config_test/
	      --debug" 
        output="screen" />
<!-- launch-prefix="gdb -ex run - -args "  -->

</launch>
